.carousel-control.left:hover {
	cursor: url("../img/arrow-left.png"), w-resize !important;
}

.carousel-control.right:hover {
	cursor: url("../img/arrow-right.png"), e-resize !important;
}

// .carousel-inner>.item>img, .carousel-inner>.item>a>img {
// 		display: block;
//     max-width: auto;
//     margin: auto;
//     height: 600px;
//     line-height: 1;
// }

.carousel-inner {
    overflow: visible;
		position: relative;
}

.carousel-control.left {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.carousel-control.right {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.carousel-control {
    width: 50%;
}

#main-content .carousel a {
    border-bottom: none;
    &:hover {
		border-bottom: none;
		}
}

.carousel-indicators {
    position: absolute;
    left: 0;
		right: 0;
    margin-top: 0;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin-left: 0;
    text-align: center !important;
    bottom: -25px;
}

.carousel-indicators li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
    text-indent: -999px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: $gray-light;
}

.carousel-indicators li:last-child {
    margin: 0;
}

.carousel-indicators .active {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
    text-indent: -999px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: $brand-primary;
}

.carousel-caption {
		position: absolute;
		width: 100%;
		bottom: -130px;
		left: 0;
	  right: 0;
		font-family: $font-family-monospace;
		font-size: $font-size-small;
		z-index: 30;
		padding-top: 0;
	  padding-bottom: 0;
		color: $brand-primary;
		text-align: left;
		text-shadow: none;
}

.carousel-caption h4 {
    margin-top: 0px;
    margin-bottom: 8px;
}


/* For tablets & smart phones */
@media (max-width: 767px) {
  .slides-container {
    width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .slides-container {
    width: auto
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .slides-container {
    width: 724px
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .slides-container {
    width: 100%
  }
}
