.carousel-control.left:hover {
	cursor: url("../img/arrow-left.png"), w-resize !important;
}

.carousel-control.right:hover {
	cursor: url("../img/arrow-right.png"), e-resize !important;
}

#slides {
  display: none
}

.slides-container {
  margin: 0 auto
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: auto;
    margin: auto;
    height: 500px;
    line-height: 1;
}

.carousel-inner {
    overflow: visible;
}

#slides .slidesjs-navigation {
  margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  display:block;
  float: left;
  margin-right:15px;
  text-decoration: none;
  color: #bababa;
}

a.slidesjs-next {

}

a:hover.slidesjs-next {
  color: #000;
  background-color: transparent;
}

a.slidesjs-previous {

}

a:hover.slidesjs-previous {
  color: #000;
  background-color: transparent;
}

a.slidesjs-play, a.slidesjs-stop {
  font-family: 'MrEavesModSCRRegular', Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: lowercase;
	margin: 0 0 0 10px;
	line-height: 1.26;
	text-decoration: none;
	color: #bababa;
}

a:hover.slidesjs-play {
  color: #000;
  background-color: transparent;
}

a:hover.slidesjs-stop {
  color: #000;
  background-color: transparent;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 5px;
}

.slidesjs-pagination li a {
  text-decoration: none;
  font-size: 18px;
  padding: 0px;
  color: $gray-light;
  display: block;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  color: $brand-primary;
  background-color: transparent;
}

.slidesjs-pagination li a:hover {
  color: $brand-primary;
  background-color: transparent;
}

#slides a:hover,
#slides a:active {
  color: $brand-primary;
  background-color: transparent;
}

.carousel-control.left {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.carousel-control.right {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.carousel-control {
    width: 50%;
}

#main-content .carousel a {
    border-bottom: none;
    &:hover {
			border-bottom: none;
		}
}

.carousel-indicators {
    position: absolute;
    left: 0;
    margin-top: 10px;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin-left: 0;
    text-align: center !important;
    bottom: -130px;
}

.carousel-indicators li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
    text-indent: -999px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: $gray-light;
}

.carousel-indicators .active {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
    text-indent: -999px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: $brand-primary;
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: -85px;
    font-family: $font-family-monospace;
    font-size: $font-size-small;
    z-index: 30;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $brand-primary;
    text-align: center;
    text-shadow: none;
}

.carousel-caption h4 {
    margin-top: 0px;
    margin-bottom: 8px;
}


/* For tablets & smart phones */
@media (max-width: 767px) {
  .slides-container {
    width: auto
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .slides-container {
    width: auto
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .slides-container {
    width: 724px
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .slides-container {
    width: 100%
  }
}
