body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  button.close-modal.the-x-symbol {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size;
  }

  .modal-content {
    background: #000;
    color: #fff;
    margin: 3rem auto;
    max-width: 768px;
    position: relative;
    header {
      text-align: right;
    }
    section {
      padding: 3rem;
      h1 {
        margin-top: 0;
      }
    }
    footer {
      text-align: right;
    }
  }
}
