body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  letter-spacing: 0.0125em;
}

h1.section-title {
  font-size: 72px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
}

.lead {
  font-family: $font-family-base;
  font-size: 21px;
  letter-spacing: .5px;
  p {
    margin-top: 1em;
  }
}

.number {
  font-family: $font-family-base;
  font-size: 32px;
  height: 44px;
  width: 44px;
  background-color: $brand-primary;
  color: $white;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  border-radius: 44px;
}

.section-header {
  font-family: $font-family-monospace;
  font-size: 18px;
}

figcaption {
  font-size: $font-size-small;
  font-family: $font-family-monospace;
  color: $gray-light;
  margin-top: 12px;
}

input::-webkit-input-placeholder {
    color: #ccc;
}
input:focus::-webkit-input-placeholder {
    opacity: .4;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #ccc;
}
input:focus:-moz-placeholder {
    opacity: .4;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #ccc;
}
input:focus::-moz-placeholder {
    opacity: .4;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #ccc;
}
input:focus:-ms-input-placeholder {
    opacity: .4;
}
