// $font-family-sans-serif:     "Merkury Regular", -apple-system, BlinkMacSystemFont, Geneva, sans-serif;
// $font-family-sans-serif-bold:     "Merkury Bold", -apple-system, BlinkMacSystemFont, Geneva, sans-serif;
// $font-family-monospace:      "Merkury Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
// $font-family-base:           $font-family-sans-serif;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  letter-spacing: 0.0125em;
  @media screen and (min-width: 1200px) {
    $font-size-base: 16px;
    font-size: $font-size-base;
  }
  @media screen and (min-width: 2000px) {
    font-size: 20px;
  }
}

input::-webkit-input-placeholder {
    color: #ccc;
}
input:focus::-webkit-input-placeholder {
    opacity: .4;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #ccc;
}
input:focus:-moz-placeholder {
    opacity: .4;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #ccc;
}
input:focus::-moz-placeholder {
    opacity: .4;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #ccc;
}
input:focus:-ms-input-placeholder {
    opacity: .4;
}
