// $font-family-sans-serif:     "Merkury Regular", -apple-system, BlinkMacSystemFont, Geneva, sans-serif;
// $font-family-sans-serif-bold:     "Merkury Bold", -apple-system, BlinkMacSystemFont, Geneva, sans-serif;
// $font-family-monospace:      "Merkury Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
// $font-family-base:           $font-family-sans-serif;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  letter-spacing: 0.0125em;
}

.lead {
  font-family: $font-family-base;
  font-size: $font-size-xl;
  p {
    margin-top: 1em;
  }
}

figcaption {
  font-size: $font-size-small;
  color: $gray-light;
  margin-top: 12px;
}

input::-webkit-input-placeholder {
    color: #ccc;
}
input:focus::-webkit-input-placeholder {
    opacity: .4;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #ccc;
}
input:focus:-moz-placeholder {
    opacity: .4;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #ccc;
}
input:focus::-moz-placeholder {
    opacity: .4;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #ccc;
}
input:focus:-ms-input-placeholder {
    opacity: .4;
}
