.border-right {
  border-right: 2px solid $brand-primary;
}

.border-right-1px {
  border-right: 1px solid $brand-primary;
}

.border-left {
  border-left: 2px solid $brand-primary;
}

.border-left-1px {
  border-left: 1px solid $brand-primary;
}

.border-bottom {
  border-bottom: 2px solid $brand-primary;
}

.border-top {
  border-bottom: 2px solid $brand-primary;
}

.border {
  border: 2px solid $brand-primary;
}

.circle {
  background: #000;
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size/2;
  margin-top: 1rem;
}

.bg-black {
  color: #fff;
  background: #000;
}

.comp-img {
  max-width: 1280px;
  min-width: 1280px;
}

#intro-img {
  margin-top: 0px;
}

.nav>li>a {
  &:focus {
    text-decoration: none;
    background-color: transparent;
    outline: none;
  }
}

.nav>li {
  &:focus {
    text-decoration: none;
    background-color: transparent;
    outline: none;
  }
}

.no-padding {
  padding: 0 !important;
}

.full {
  padding-left: 0px;
  padding-right: 0px;
}

.bg-black,
.black {
  color: #fff;
  background-color: $brand-primary;
}

.gray {
  background-color: $gray-lightest;
}

.affix {
  top: 20px;
}

.affix-bottom {
  position: absolute;
}

.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.periscope-offset {
  margin-top: 15.4em;
}

.main-image {
  @media (max-width: 1199px) {
  }
  @media (max-width: 991px) {
  }
}

.circle-plus {
  display: block;
  width: $circle-plus-size;
  height: $circle-plus-size;
  border-radius: $circle-plus-size / 2;
  box-shadow: inset 0 0 0 2px #000;
  position: relative;
  span:nth-of-type(1) {
    width: .6 * $circle-plus-size;
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  span:nth-of-type(2) {
    height: .6 * $circle-plus-size;
    width: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .dotted.active &,
  .dotted.all-active & {
    box-shadow: inset 0 0 0 2px #fff;
    span {
      background: #fff;
    }
  }

  .dotted.all-active & {
    span:nth-of-type(2) {
      display: none;
    }
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.lazyload,
.lazyloading {
  opacity: .5;
  background: #ddd;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 1200ms;
}

.container-fluid.no-padding {
  padding: 0;
  .row {
    padding: 0;
  }
}

ul.no-bullets {
  list-style-type: none;
}

.dotted ul,
.dotted ol {
  padding: 0;
  margin: $spacer * 2;
  ul,
  ol {
    padding-left: $spacer * 4;
    margin: 0;
    list-style-position: outside;//inside;
  }
}
