// BOOTSTRAP
// Core variables and mixins
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "variables";

// Reset and dependencies
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";

// Grid
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

//@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
// @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Navs
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
//@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
//@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
//@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
//@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";

// Components w/ JavaScript
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
// @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
// @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";



@import "global";
@import "mixins";
@import "helpers";
@import "header";
@import "buttons";
@import "home";
@import "footer";
@import "typography";
@import "forms";
@import "modals-popups";
@import "search";
@import "comments";
@import "responsive-padding";

// #main-content-container {
// 	position: relative;
// }
#scroll-nav {
	ul.sub-nav {
		padding: 0;
		margin:0;
		li {
			max-width: 15em;
			&>a {
				&:hover {
					background-color:#fff;
					color: $cic-blue;
					&:before {
						border-color: $cic-blue;
					}
				}
			}
			&.active {
				max-width: 15em;
				color: $cic-blue;
				&:before {
					background: $cic-blue;
					border-color: $cic-blue;
				}
			}
			&:before {
		    content: '';
		    position: absolute;
		    display: block;
		    height: 12px;
		    width: 12px;
		    border: 2px solid #000;
		    left: -14px;
		    top: 16px;
		    border-radius: 100%;
		    background: #fff;
			}
		}
	}
	.back-to-top { opacity: .2; padding-left: 14px; text-transform: uppercase; &:hover { opacity: 1;}}
}


.tenant-main-image {
	position: relative;
	top: 12px;
	@media (max-width: 1199px) {
		position: relative;
		top: 16px;
	}
	@media (max-width: 991px) {
		position: relative;
		top: 36px;
	}
}

.landlord-main-image {
	position: relative;
	top: 12px;
	@media (max-width: 1199px) {
		position: relative;
		top: 16px;
	}
}

.advocates-main-image {
	position: relative;
	top: 0px;
	@media (max-width: 991px) {
		position: relative;
		top: 15px;
	}
}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}
