doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title The Future of the Catskills Interpretive Center
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:site_name" content="The Future of the Catskills Interpretive Center")
    link(rel="stylesheet" type="text/css" href="style.min.css")
    script(type="text/javascript" src="cic.min.js")
  body.border
    nav#nav
      a.navbar-brand(href="#home") The Future of the#[br] #[strong Catskills Interpretive Center]
      a.menu-toggle(href="#")
        span
        span
        span
      ul
        li #[a.modal-link(href="#" data-target="#help") About the Project]
        li #[a(href='#get-involved') Get Involved]
        li #[a(href="https://secure.squarespace.com/commerce/donate?donatePageId=55db2928e4b0f408c8df5a20" target="_blank") Donate]

    //- include ./templates/style-guide

    include ./templates/masthead

    include ./templates/intro

    include ./templates/establishing-studies

    include ./templates/grounded-in-the-past

    include ./templates/thematic-areas

    include ./templates/future-for-catskill-interpretive

    include ./templates/celebration-of-nature

    include ./templates/tourism-exploration-discovery

    include ./templates/gathering-and-observing

    include ./templates/storytelling-oral-histories

    include ./templates/engaging-with-nature

    include ./templates/looking-ahead

    include ./templates/get-involved

    footer#footer
      .container
        .row
          .col-md-6.copyright-cred
            span.copyright-credit &copy; 2017
          .col-md-6.design-credit.text-right
            span.design-cred Site By #[a.footer-link(href="http://partnerandpartners.com/" target="_blank") Partner & Partners]

    //- #donate.modal
    //-   .modal-content
    //-     header
    //-       button.close-modal.the-x-symbol &times;
    //-     section
    //-       h3.modal-title Donate
    //-     footer
    //-       button.close-modal Close

    #help.modal
      .modal-content
        header
          button.close-modal.the-x-symbol &times;
        section
          h3.modal-title What's This
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        footer
          button.close-modal Close
          
    button.back-to-top Back To Top
