.container-fluid
  .row.xs-m-t-6
    .col-sm-10.col-sm-offset-1
      .row
        .col-sm-4.lg-m-t-15.md-m-t-10.sm-m-t-8
          img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        .col-sm-6.col-sm-offset-2
          img(src="img/RangerStation.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
      .row
        .col-sm-6.col-sm-offset-2.md-m-t-6
          img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
