.full-size-wrapper
  .content
    img.lazyload(width="2048" height="1296" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/full-width/15ARTSCT3-superJumbo-1848-sarahcole.jpg")

.container.m-xs-y-6
  .row
    .col-xs-12.col-md-8
      h2 Celebration of Nature

      p The Center will present objects, images, sounds, and data that reveal the beauty, complexity, and fragility of the Catskills Park’s ecosystems.  Drawing on the work of past naturalists, from Alexander von Humboldt to John Burroughs to John Bartram, along with contemporary thinking and writing about conservation and preservation, sustainability and resilience, and the human-made mark on the land, the Center will present a holistic portrait of the surrounding region, its natural treasures, human and non-human residents, and challenges.
  
  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-8
        .row
          .col-xs-12
            img.lazyload(width="3885" height="2794" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row1-image-top-left.jpg")
        .row
          .col-xs-6
            img.lazyload(width="1149" height="1110" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row1-bottom-image-left.jpg")
          .col-xs-6
            img.lazyload(width="1149" height="1110" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row1-bottom-image-right.jpg")
      .col-xs-12.col-md-4
        img.lazyload(width="2280" height="5820" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row1-image-right.jpg")

    .row
      .col-xs-12.col-md-6
        .row
          .col-xs-12.col-md-8
            img.lazyload(width="1149" height="870" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-audubon-black-bear.jpg")
            img.lazyload(width="3072" height="2301" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-left.jpg")
          .col-xs-12.col-md-4
            img.lazyload(width="528" height="729" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-middle.jpg")
            img.lazyload(width="1227" height="1920" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-left2.jpg")
        .row
          .col-xs-12
            img.lazyload(width="1764" height="552" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-left-bottom.jpg")
      .col-xs-12.col-md-6
        .row
          .col-xs-12
            img.lazyload(width="1410" height="1056" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-right.jpg")
        .row
          .col-xs-6
            img.lazyload(width="564" height="770" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-right2.jpg")
          .col-xs-6
            img.lazyload(width="1692" height="2310" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row2-image-right-bottom.jpg")

    .row
      .col-xs-12.col-md-8
        .row
          .col-xs-12.col-md-3
            img.lazyload(width="1584" height="3132" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row3-image-left.jpg")
            img.lazyload(width="564" height="857" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row3-image-left2.jpg")

          .col-xs-12.col-md-9
            .row
              .col-xs-12.col-md-6
                img.lazyload(width="840" height="1215" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row3-image-middle2.jpg")
              .col-xs-12.col-md-6
                img.lazyload(width="841" height="621" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/img/20170720-cic-public-site_07.jpg")
                img.lazyload(width="845" height="516" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/img/20170720-cic-public-site_11.jpg")
            .row
              .col-xs-12
                img.lazyload(width="1764" height="690" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row3-image-middle.jpg")
        .row
          .col-xs-12
            img.lazyload(width="3500" height="2790" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row4.jpg")


      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="1206" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row3-image-bottom-right.jpg")
        img.lazyload(width="1149" height="690" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/celebration-of-nature/row3-image-right-right.jpg")

  .row
    .col-xs-12.col-md-8
      p The Center will encourage visitors to become direct and active observers, recorders, citizen scientists, and reporters of the natural world.  The CCCD has promoted this form of direct observation since its inception.  The Interpretive Center will make use of the CCCD archive, books, guides, live instruction by naturalists, and interactive interpretive exhibits – including a digital viewfinder that brings views of the park to the interior of the Center – to inspire observation at every level.

  .row
    .col-xs-12.col-md-8
      p From pre-European settlement to the emergence of the Catskills as a tourist destination through the work of Hudson River School painters, the Center will also demonstrate how the region is changing currently with a growth in tourism, the role of Catskills reservoirs in New York City’s water system, and threats to the region’s ecosystem through invasive species and climate change.
    .col-xs-12.col-md-4
      img.lazyload(width="1759" height="1088" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_18.jpg")
