.container
  .row
    .col-xs-12.col-md-8
      h2 Engaging With Nature

      p The Center will educate visitors on the creation of the Catskills “forest preserve,” touching on Article 14 of the state constitution, which preserved the Catskills and designated that all land within the “Blue Line” of the Catskill Park must remain forever wild.  The Center will encourage visitors to become stakeholders, researchers, readers, and attempt to educate and inspire on the need to continue to create and maintain public land for conservation and the enjoyment of all.
  
  .image-grid
    .row
      .col-xs-12.col-md-6
        .row
          .col-xs-12.col-md-4
            img.lazyload(width="530" height="792" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_03.jpg")
          .col-xs-12.col-md-8
            img.lazyload(width="1151" height="792" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_05.jpg")
        .row
          .col-xs-12
            img.lazyload(width="1767" height="1421" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_11.jpg")
        .row
          .col-xs-12.col-md-6
            img.lazyload(width="840" height="552" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_20.jpg")
          .col-xs-12.col-md-6
            img.lazyload(width="838" height="552" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_22.jpg")

      .col-xs-12.col-md-6
        .row
          .col-xs-12
            img.lazyload(width="1765" height="1165" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_07.jpg")
        .row
          .col-md-8
            img.lazyload(width="1148" height="659" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_13.jpg")
          .col-md-4
            img.lazyload(height="659" width="557" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_15.jpg")
        .row
          .col-xs-12
            img.lazyload(height="1025" width="1765" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_18.jpg")

    .row
      .col-xs-12.col-md-8
        .row
          .col-xs-12
            img.lazyload(width="2385" height="1648" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_27.jpg")
        .row
          .col-xs-3
            img.lazyload(width="530" height="953" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_32.jpg")
          .col-xs-5
            img.lazyload(width="845" height="953" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_34.jpg")
          .col-xs-4
            img.lazyload(width="835" height="953" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_36.jpg")
      .col-xs-12.col-md-4
        img.lazyload(width="1169" height="1163" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_26.jpg")
        img.lazyload(width="1143" height="764" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_30.jpg")
        img.lazyload(width="1143" height="759" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-73_38.jpg")

  .row
    .col-xs-12.col-md-8
      p The Center will introduce new signage and wayfinding that appropriately place the Catskills Park within the visual language of nature preserves across the country.  This work includes redesigning the main Interpretive Center road signage and creating a cohesive visual language for the surrounding trailheads and kiosks maintained by CCCD around the Park to create a visible presence for the Center.

  .image-grid
    .row
      .col-xs-12.col-md-8
        .row
          .col-xs-12
            img.lazyload(width="2383" height="1478" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_03.jpg")
        .row
          .col-xs-12.col-md-6
            img.lazyload(width="1148" height="791" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_10.jpg")
            
          .col-xs-6.col-md-3
            img.lazyload(width="526" height="791" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_12.jpg")
          .col-xs-6.col-md-3
            img.lazyload(width="526" height="427" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_14.jpg")
            img.lazyload(width="526" height="339" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_18.jpg")

      .col-xs-12.col-md-4
        img.lazyload(width="1143" height="736" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_05.jpg")
        img.lazyload(width="1143" height="840" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_08.jpg")
        img.lazyload(width="1143" height="755" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/engaging-with-nature/page-74_16.jpg")
