.container
  .row
    .col-xs-12.col-md-8
      h2 Establishing Studies

  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-6
        .cic-slick-wrapper
          .cic-slick-left(data-slider="#est-studies-1")
          .cic-slick-right(data-slider="#est-studies-1")
          .slick#est-studies-1
            div
              img(width="1767" height="1176" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row1-slideshow1.jpg")
            div
              img(width="1767" height="1176" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row1-slideshow2.jpg")
            div
              img(width="1767" height="1176" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row1-slideshow3.jpg")
            div
              img(width="1767" height="1176" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row1-slideshow4.jpg")

      .col-xs-12.col-md-6
        img.lazyload(width="1767" height="1176" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row1-image-right.jpg")

    .row
      .col-xs-12.col-md-4
        img.lazyload(width="1152" height="1626" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row2-left.jpg")
      .col-xs-12.col-md-4
        .row
          .col-xs-12
            img.lazyload(width="1149" height="765" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row2-image-right.jpg")
        .row
          .col-xs-6
            img.lazyload(width="528" height="690" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row2-bottom-right1.jpg")
          .col-xs-6
            img.lazyload(width="528" height="690" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row2-bottom-right2.jpg")
      .col-xs-12.col-md-4
        .cic-slick-wrapper
          .cic-slick-left(data-slider="#est-studies-2")
          .cic-slick-right(data-slider="#est-studies-2")
          .slick#est-studies-2
            div
              img(width="1149" height="765" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row2-slideshow1.jpg")
            div
              img(width="1149" height="765" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row2-slideshow2.jpg")
            div
              img(width="1149" height="765" data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" src="/img/establishing-studies/establishing-studies-row2-slideshow3.jpg")
          
        img.lazyload(width="1149" height="690" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row2-bottom-right3.jpg")
    .row
      .col-xs-12.col-md-6
        img.lazyload(width="1767" height="1176" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row3-left.jpg")
      .col-xs-12.col-md-6
        img.lazyload(width="1767" height="1176" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/establishing-studies/establishing-studies-row3-right.jpg")

  .row
    .col-xs-12.col-md-6
      p.note #[strong Note] The images selected for this website are being utilized as reference and inspiration only. They should not be considered final indications or representations of what will be used and included as part of the final project or design.
      
