.container
  .row
    .col-xs-12
      h2 A Future for the Catskill Interpretive Center
      p Past Catskills visitors included illustrious painters, authors, naturalists, and explorers, as well as everyday people seeking a break from the city. Visitors of all walks of life came to the Catskills, bringing an appreciation for nature and a desire for fresh air, relaxation, and recreation among the region’s natural wonders and unspoiled natural sights.
      p Visitors to the Catskill Interpretive Center will come away with an overview of the area’s rich natural and cultural history, discover local attractions and activities, and gain a broader sense of the importance of stewardship, conservation, and protection of the Catskills Park.
