.container
  .row.m-xs-y-3
    .col-xs-12.col-md-8
      h2 Gathering and Observing
      
      p The newly designed Catskill Interpretive Center will be a gathering place for locals and tourists alike. The Center will provide space for public events, workshops, classes, and regular naturalist-guided walks and tours will depart from the Center’s indoor trailhead. 
  
  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-8
        .row
          .col-xs-12
            img.lazyload(width="2394" height="1592" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_03.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-6
            img.lazyload(width="1152" height="630" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_14.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            img.lazyload(width="1154" height="627" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_24.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .col-xs-6
            img.lazyload(width="1150" height="1354" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_17.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-4
        img.lazyload(width="1150" height="821" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_06.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        img.lazyload(width="1148" height="1241" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_10.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        img.lazyload(width="1153" height="790" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_21.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

  .row
    .col-xs-12.col-md-8
      p The Center will encourage visitors to become direct and active observers, recorders, citizen scientists, and reporters of the natural world.  The CCCD has promoted this form of direct observation since its inception.  The Interpretive Center will make use of the CCCD archive, books, guides, live instruction by naturalists, and interactive interpretive exhibits – including a digital viewfinder that brings views of the park to the interior of the Center – to inspire observation at every level.

  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-4
        .row
          .col-xs-12
            img.lazyload(width="1151" height="1539" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_33.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-6
            img.lazyload(width="556" height="691" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_50.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .col-xs-6
            img.lazyload(width="534" height="691" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_48.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            
        .row
          .col-xs-12
            img.lazyload(width="1153" height="1324" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_62.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="1152" height="646" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_72.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            
      .col-xs-12.col-md-8
        .row
          .col-xs-8
            img.lazyload(width="1464" height="985" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_36.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .col-xs-4
            img.lazyload(width="842" height="988" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_30.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12.col-md-3
            .row
              .col-xs-6.col-md-12
                img.lazyload(width="531" height="606" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_41.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
              .col-xs-6.col-md-12
                img.lazyload(width="531" height="635" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_53.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            img.lazyload(width="529" height="452" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_65.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

          .col-xs-12.col-md-9
            .row
              .col-xs-12
                img.lazyload(width="1769" height="985" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_44.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            .row
              .col-xs-12.col-md-4
                img.lazyload(width="531" height="772" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_58.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
              .col-xs-12.col-md-8
                img.lazyload(width="1151" height="790" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_56.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="2392" height="1394" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_70.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
