#get-involved.container.p-xs-t-6
  .row
    .col-xs-12.col-md-8
      h2 Get Involved

      p To produce and develop the future Catskill Interpretive Center, Catskills Center for Conservation and Development is partnering with the New York State Department of Environmental Conservation, and other prominent organizations in the community including the the NYC Department of Environmental Protection, the Catskill Watershed Corporation,the NYNJ Trail Conference, Catskill Mountainkeeper, the Catskill Mountain Club, and the Catskill 3500 Club

      p We are interested in hearing from you.  What are your hopes and expectations for the future of the Catskill Interpretive Center?  What do you hope the new center will provide?

      p Please take a moment to complete our simple survey form below and let us know how the can best serve you and the community!

.container
  .row
    .col-xs-12.col-md-8
      include contact-form
