
.bg-black.m-xs-y-3.m-xs-t-9
  .container
    .row
      .col-xs-10.col-xs-offset-1.p-xs-y-3
        img.lazyload(height="2637" width="1321" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-past-present/Catskill-Mountain-House.png")

.container
  .row
    .col-xs-12
      .caption Stereoscopic Image of The Catskill Mountain House

.container.m-xs-t-6
  .row
    .col-xs-12.col-md-8
      h2 Grounded In The Past, Looking To The Future

      p Since 1969, the Catskill Center has been protecting and fostering the environmental, cultural and economic well-being of the Catskill region.  Along the way, the Center has developed an extensive archive of Park-related research materials, phenological data, oral histories, environmental curriculum, charismatic objects, art, crafts, along with books by local naturalists, botanists, geologists and conservationists.  The new Interpretive Center will engage with the Center’s archive, allowing the public to experience the history of the region.

.container
  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-4
        .slick
          div
            img.lazyload(width="1149" height="861" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-past-present/gathering-past-present-row1-slideshow1.jpg")
          div
            img.lazyload(width="1149" height="861" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-past-present/gathering-past-present-row1-slideshow2.jpg")
          div
            img.lazyload(width="1149" height="861" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-past-present/gathering-past-present-row1-slideshow3.jpg")

        img.lazyload(width="1149" height="750" alt="" data-src="/img/gathering-past-present/gathering-past-present-row-1-bottom-left.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-8
        img.lazyload(width="2385" height="1758" alt="" data-src="/img/gathering-past-present/gathering-past-present-row1-image-right.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

    .row
      .col-xs-12.col-md-6
        img.lazyload(width="1899" height="1538" alt="" data-src="/img/gathering-past-present/gathering-past-present-row2-image-left.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-6
        .row
          .col-xs-12
            img.lazyload(width="1767" height="1014" alt="" data-src="/img/gathering-past-present/gathering-past-present-row2-right-top.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12.col-sm-6
            img.lazyload(width="840" height="471" alt="" data-src="/img/gathering-past-present/gathering-past-present-row2-bottom-left.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .col-xs-12.col-sm-6
            img.lazyload(width="840" height="471" alt="" data-src="/img/gathering-past-present/gathering-past-present-row2-bottom-right.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
    .row
      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="765" alt="" data-src="/img/gathering-past-present/gathering-past-present-row3-left.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="765" alt="" data-src="/img/gathering-past-present/gathering-past-present-row3-middle.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="765" alt="" data-src="/img/gathering-past-present/gathering-past-present-row3-right.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
