.container.m-xs-y-6
  .row
    .col-xs-12.col-md-8
      h1 Reimagining the Catskill Interpretive Center
  
  .row
    .col-xs-12
      blockquote
        p &ldquo; It’s critically important to have a place where residents and visitors can learn about our unique natural, historical, and cultural resources. It will help preserve our rich heritage, keep our local economies strong, and our quality of life intact. &rdquo;
        footer
          div Hon. Rep. Maurice D. Hinchey
          div US Rep. 1993 – 2013

  .row.col-xs-12.col-md-8
      p The Maurice D. Hinchey Catskill Interpretive Center is a partnership between the Catskill Center, the New York State Department of Environmental Conservation and other prominent organizations in the community including the the NYC Department of Environmental Protection, the Catskill Watershed Corporation, the NYNJ Trail Conference, Catskill Mountainkeeper, the Catskill Mountain Club, and the Catskill 3500 Club.
      
      p More than just a visitors center for the Catskill Park, the reimagined Catskill Interpretive Center will act as a community Gathering Space, a Mountain House, Ranger Station, Observatory and Research Lab.  Situated on 60 acres of forest, fields and wetlands in the hamlet of Mount Tremper, the center is already known to the community for its walking trails, outdoor sculpture park showcasing local Catskill artisans, picnic areas, and access to the Esopus Creek.

  .row
    .col-xs-12.col-md-10
      .cic-slick-wrapper
        .cic-slick-left(data-slider="#intro-slider")
        .cic-slick-right(data-slider="#intro-slider")
        .slick#intro-slider
          div
            img.lazyload(width="2400" height="1500" alt="" data-src="/img/intro/MauriceHincheyPic.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

  .row
    .col-xs-12.col-md-8
      p We are embarking on an exciting new project to reimagine and reinvent the Catskill Interpretive Center. Our plan for the Center includes the design of new interactive exhibits for the Center about the park, its plants, wildlife, waterways, history, culture, and people and about the attractions and tourism-related businesses in the region ; creating a first-of-its-kind app for visitors and locals alike to learn about events in the region; and repositioning the center as a comprehensive resource for locals and visitors alike.

      p The redesign of the interpretive elements of the Center will further the mission of the CIC; function as a central hub for local community engagement; orient visitors to tourist sites, current attractions, outdoor activities, and seasonal offerings in the park’s communities; and educate visitors and locals alike about the area’s rich natural and cultural history while promoting the importance of stewardship, conservation, and protection of the Catskills Park.

      p The new Interpretive Center will aim to address a number of issues of crucial importance to the Catskills community, while providing relevant and timely information for visitors on the history and culture of the area.
      
