.container
  .row
    .col-xs-12.col-md-8
      h2 Looking Ahead
      p In conclusion, the future Catskill Interpretive Center will function as the heart of the Catskills Park and its surrounding towns. At the future Center, visitors and area residents will come together to learn more about the history, culture, and environment of the Catskills region through interactive, digital, and physical exhibits and a new app. Through public events, workshops, and educational programming, visitors will be presented with opportunities to become active stakeholders and conservationists in the Park’s future. 
.container-fluid.p-xs-a-0
  .row.m-xs-a-0
    .col-xs-12.p-xs-a-0
        img.lazyload(height="2558" width="3840" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/full-width/page-74_23.jpg")
