.container-fluid
  .row.nav-padding
    .col-xs-12
      .row
        .col-xs-6.no-padding.border-right-1px.border-bottom
          img(src="img/mountainrange.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
        .col-xs-6.no-padding.border-left-1px.border-bottom
          img(src="img/RangerStation.png" alt="Catskill Mountain House and Lodge" width="100%" height="auto")
