#home.container-fluid
  .row.nav-padding
    .col-xs-12
      .row
        .col-xs-6.no-padding.border-right-1px.border-bottom
          img(width="1440" height="1536" src="img/mountainrange.jpg" alt="Catskill Mountain House and Lodge")
        .col-xs-6.no-padding.border-left-1px.border-bottom
          img(width="1440" height="1536" src="img/RangerStation.png" alt="Catskill Mountain House and Lodge")
