.container
  .row
    .col-xs-12.col-md-8
      h2 A Future for the Catskill Interpretive Center
      
      p Past Catskills visitors included illustrious painters, authors, naturalists, and explorers, as well as everyday people seeking a break from the city. Visitors of all walks of life came to the Catskills, bringing an appreciation for nature and a desire for fresh air, relaxation, and recreation among the region’s natural wonders and unspoiled natural sights.

      p Visitors to the Catskill Interpretive Center will come away with an overview of the area’s rich natural and cultural history, discover local attractions and activities, and gain a broader sense of the importance of stewardship, conservation, and protection of the Catskills Park.

  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-2
        img.lazyload(width="533" height="543" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_80.jpg")
        //- .bg-black
        //-   strong Listening Station

        img.lazyload(width="534" height="831" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_91.jpg")
        img.lazyload(width="540" height="731" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_106.jpg")
      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="1762" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_83.jpg")
        img.lazyload(width="1148" height="785" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_109.jpg")
      .col-xs-12.col-md-6
        .row
          .col-xs-12.col-md-4
            img.lazyload(width="531" height="366" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_77.jpg")
            img.lazyload(width="534" height="708" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_87.jpg")

            button.audio-player(data-audio-url="/audio/drivingcatskills.mp3") #[span.play &#9658;] #[span.pause &#61;]
            strong Catskill Center oral history collection, 1970-1984

          .col-xs-12.col-md-8
            iframe(src="https://mixlr.com/weather-for-the-blind/embed" height="180")

            strong Weather Warlock
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
            img.lazyload(width="1125" height="506" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_94.jpg")
        .row
          .col-xs-12.col-md-6
            img.lazyload(width="842" height="1256" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_99.jpg")
          .col-xs-12.col-md-6
            img.lazyload(width="841" height="1237" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/gathering-and-observing/gathering-and-observing-image_102.jpg")
