.container.m-xs-y-6
  .row
    .col-xs-12.col-md-8
      p The CIC will provide information on the following key thematic areas:
  .row
    .col-xs-12.col-md-10
      .dotted
        .row.tax-row.m-xs-b-6
          .col-xs-2.col-md-1
            .circle
          .col-xs-12.col-md-5
            h4.m-xs-t-0 Tourist Information

            p The Center will provide a concierge experience that presents visitors with practical content to assist in making the most of their visit to the Catskills. This information will include towns and villages, s local hotels  and restaurants, as well as outdoor activities and cultural attractions. Bringing together all this content in one place will allow the CIC to serve as a hub for regional tourism – an important engine of economic activity and local employment. The center will present information on local businesses, cultural attractions, publications and periodicals, local event listings including CIC events, and tourism materials.

            p 
              a.show-taxonomy(href="#") #[span.show-taxonomy-text Show taxonomy] #[span.hide-taxonomy-text Hide taxonomy]
          .col-xs-12.col-md-4.col-md-offset-1
            .not-taxonomy
              img.lazyload(width="840" height="558" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/thematic-areas/thematic-areas-natural-environment.jpg")

            p.taxonomy
              ul.no-bullets
                li 1. Local Businesses
                  ol.alphabet
                    li Hotels, B&Bs, restaurants, shopping
                    li Outdoor tour and guiding companies
                    li Outfitters and recreational facilities
                    li Farms, markets and U-Pick
                    li Breweries and vineyards
                    li Real Estate
                li 2. Cultural Attractions
                  ol.alphabet
                    li Art Centers / Organizations
                    li Local Artists (studios and workshops)
                    li Historical Sites
                    li Concerts and Entertainment
                    li Galleries and Museums
                    li Theater
                li 3. Publications and Periodicals
                  ol.alphabet
                    li Weeklies
                    li Dailies
                    li Monthly Magazines
                li 4. Local Event Listings
                li 5. CIC Events and Resources
                li 6. Tourist FAQs
                li 7. Gift Shop
                  ol.alphabet
                    li Merchandise
                    li Publications



        .row.tax-row.m-xs-b-6
          .col-xs-2.col-md-1
            .circle
          .col-xs-12.col-md-5
            h4.m-xs-t-0 Outdoor Activities
            p The Center will present and interpret ways for tourists and locals to engage with the natural Catskills environment, from hiking trails, to mountain climbing, to winter sports, fishing, hunting and golf. The new center will feature an indoor trailhead that directly leads visitors to experience a number of hiking trails on the Center’s grounds, while that giving visitors context and options for their continuing outdoor adventures.
            p 
              a.show-taxonomy(href="#") #[span.show-taxonomy-text Show taxonomy] #[span.hide-taxonomy-text Hide taxonomy]
          .col-xs-12.col-md-4.col-md-offset-1
            .not-taxonomy
              img.lazyload(width="840" height="558" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/thematic-areas/thematic-areas-outdoor-activities.jpg")

            p.taxonomy
              ul.no-bullets
                li 8. Hiking and biking trails 
                li 9. Mountain climbing
                li 10. Horseback riding
                li 11. Boating
                li 12. Swimming
                li 13. Winter sports
                li 14. Birding
                li 15. Fishing and hunting
                li 16. Fire towers
                li 17. Golf
                li 18. Tennis
                li 19. ATV/Offroading/Snowmobiling
            
        .row.tax-row.m-xs-b-6
          .col-xs-2.col-md-1
            .circle
          .col-xs-12.col-md-5
            h4.m-xs-t-0 Natural Environment
            p The Center will interpret and provide resources for visitors to understand the ecological systems, wildlife, plants, and geology in the Catskills region. The Center will include data readouts of phenological studies and live data from reservoirs and other monitoring sources, along with guides to animals, plants, ecological zones, and the region’s geology and ecosystems services.  The center will also interpret the region’s native and visiting birds, invasive plants, and endangered and threatened plant and animal species, while providing information about the threats to the region from climate change.
            p 
              a.show-taxonomy(href="#") #[span.show-taxonomy-text Show taxonomy] #[span.hide-taxonomy-text Hide taxonomy]
          .col-xs-12.col-md-4.col-md-offset-1
            .not-taxonomy
              img.lazyload(width="1024" height="811" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/thematic-areas/thematic-areas-past-present.jpg")

            p.taxonomy
              ul.no-bullets
                li 20. Animals
                  ol.alphabet
                    li Catskill native birds
                    li Endangered and threatened species
                li 21. Plants
                  ol.alphabet
                    li Local wildflowers
                    li Trees
                    li American Chestnut
                li 22. Ecological Zones
                  ol.alphabet
                    li Dry plateau
                    li Forest
                    li Hillside transitional zone
                li 23. Geology
                  ol.alphabet
                    li Geologic history (Devonian and Mississippian uplift and erosion)
                    li Glacial changes
                li 24. Watershed
                  ol.alphabet
                    li Catskills watershed
                    li Catskills reservoir and aqueduct system
                    li Watershed protection
                li 25. Tourist FAQs
                li 26. Ecosystem Services
                li 26. Environmental Organization
                li 27. Climate change
                  ol.alphabet
                    li Merchandise
                    li Publications
                li 28. Phenology
                  ol.alphabet
                    li Water
                    li Geology
                    li Plants
                    li Animals
                    li Temperature
                    li Rainfall

        .row.tax-row.m-xs-b-6
          .col-xs-2.col-md-1
            .circle
          .col-xs-12.col-md-5
            h4.m-xs-t-0 Catskills Past and Present
            p The Center will invite visitors to learn about the history of the Catskills, from the indigenous Lenapehoking to the Hudson River School, to contemporary issues in the region. Content will situate the present-day Catskills within a centuries-long history of development, based on the “enjoyment of natural resources,” and conservation.  Visitors will learn about the continuing presence of Native Americans, European settlers, the creation of the forest preserve, “Forever Wild,” and the NYC watershed system. Interpretive resources will draw on the work of naturalists and botanists like John Burroughs, Jane Colden, and John Bartram, contemporary and historic writers on the region’s history and ecology, and Hudson River School artists such as the Coles, Church, Bierstadt, Minot and others.  Other exhibits will include information about local industry, ways that residents have made a living and survived through the years, and more recent (and current) art, music, and cultural contributions to the region.
            p 
              a.show-taxonomy(href="#") #[span.show-taxonomy-text Show taxonomy] #[span.hide-taxonomy-text Hide taxonomy]
          .col-xs-12.col-md-4.col-md-offset-1
            .not-taxonomy
              img.lazyload(width="840" height="558" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/thematic-areas/thematic-areas-tourism-information.jpg")

            p.taxonomy
              ul.no-bullets
                li 29. Indigenous Catskills - Lenapehoking
                li 30. European Settlers
                li 31. Creating the Forest Preserve
                  ol.alphabet
                    li Forever Wild
                li 32. Creating the NYC Watershed
                  ol.alphabet
                    li Geologic history (Devonian and Mississippian uplift and erosion)
                    li Glacial changes
                li 33. Industry
                  ol.alphabet
                    li Leather Tanning
                    li Bluestone
                    li Others
                li 34. Naturalists and Botanists
                  ol.alphabet
                    li John Burroughs
                    li John Bartram
                    li Others
                li 35. Authors
                  ol.alphabet
                    li Irving, Cooper, etc.
                li 36. The Hudson River School
                  ol.alphabet
                    li Artists
                    li Tourism development
                    li Environmentalism and preservation / conservation
                li 37. The Catskills and Climate Change

        .row
          .col-xs-1
            .circle-plus
              span
              span
          .col-xs-11
            a.lead.show-all-taxonomies(href="#") #[span.expand-all Expand All] #[span.collapse-all Collapse All]
