.container-fluid.m-xs-y-6
  .row.m-xs-y-0
    .col-xs-12.p-xs-a-0
      img.lazyload(width="3840" height="2670" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/img/full-width/peekskill-steel-pipe-siphon_18234910639_o.jpg" alt="")

.container
  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="1344" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_03.jpg")
      .col-xs-12.col-md-8
        img.lazyload(width="2385" height="1344" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_05.jpg")
    .row
      .col-xs-12.col-md-4
        img.lazyload(width="1149" height="1343" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_09.jpg")
      .col-xs-12.col-md-3
        img.lazyload(width="842" height="1343" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_10.jpg")
      .col-xs-12.col-md-5
        img.lazyload(width="1457" height="1343" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_12.jpg")
        
            
            

    .row
      .col-xs-12.col-md-6
        img.lazyload(width="1772" height="1088" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_16.jpg")
      .col-xs-12.col-md-6
        img.lazyload(width="1759" height="1088" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_18.jpg")

  .row.m-xs-y-6
    .col-xs-12.col-md-8
      h2 Tourism, Exploration, and Discovery
      
      p The Center concierge experience – providing directions, practical information, and local insights to visitors assist them in making the most of their visit to the Catskills. This information includes local hotels and restaurants, as well as outdoor activities and cultural attractions. Augmenting this information are resources produced by the CIC. Bringing together all this content in one place will allow the CIC to serve as a hub for regional tourism – an important source of economic activity and local employment.

      p The newly designed Catskill Interpretive Center will be a gathering place for locals and tourists alike. The Center will provide space for public events, workshops, classes, and regular naturalist-guided walks and tours will depart from the Center’s indoor trailhead. 

  .image-grid.m-xs-y-6
    .row
      .col-xs-12.col-md-4
        .row
          .col-xs-12
            img.lazyload(width="1149" height="1449" alt="" data-src="/img/tourism-exploration-discovery/new_21.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="1147" height="756" alt="" data-src="/img/tourism-exploration-discovery/new_31.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="1149" height="1675" alt="" data-src="/img/tourism-exploration-discovery/new_33.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="1149" height="808" alt="" data-src="/img/tourism-exploration-discovery/new_41.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-6
            img.lazyload(width="535" height="733" alt="" data-src="/img/tourism-exploration-discovery/new_45.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .col-xs-6
            img.lazyload(width="529" height="690" alt="" data-src="/img/tourism-exploration-discovery/new_47.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="1149" height="736" alt="" data-src="/img/tourism-exploration-discovery/new_52.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

      .col-xs-12.col-md-8
        .row
          .col-xs-12.col-md-6
            img.lazyload(width="1149" height="749" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/img/tourism-exploration-discovery/new_23.jpg")
          .col-xs-12.col-md-6
            img.lazyload(width="1151" height="680" alt="" data-src="/img/tourism-exploration-discovery/new_25.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-12
            img.lazyload(width="2385" height="1589" alt="" data-src="/img/tourism-exploration-discovery/new_28.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        .row
          .col-xs-6
            img.lazyload(width="1149" height="1463" alt="" data-src="/img/tourism-exploration-discovery/new_35.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            img.lazyload(width="1149" height="1385" alt="" data-src="/img/tourism-exploration-discovery/new_40.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            img.lazyload(width="1149" height="989" alt="" data-src="/img/tourism-exploration-discovery/new_49.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .col-xs-6
            img.lazyload(width="1151" height="1993" alt="" data-src="/img/tourism-exploration-discovery/new_37.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            img.lazyload(width="1151" height="1925" alt="" data-src="/img/tourism-exploration-discovery/new_43.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

    .row
      .col-xs-12.col-md-3
        img.lazyload(width="844" height="1060" alt="" data-src="/img/tourism-exploration-discovery/new_56.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-6
        img.lazyload(width="1770" height="1060" alt="" data-src="/img/tourism-exploration-discovery/new_58.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-12.col-md-3
        img.lazyload(width="838" height="1060" alt="" data-src="/img/tourism-exploration-discovery/new_60.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

    .row
      .col-xs-6.col-md-3
        img.lazyload(width="844" height="575" alt="" data-src="/img/tourism-exploration-discovery/new_64.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-6.col-md-3
        img.lazyload(width="841" height="575" alt="" data-src="/img/tourism-exploration-discovery/new_65.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-6.col-md-3
        img.lazyload(width="833" height="575" alt="" data-src="/img/tourism-exploration-discovery/new_67.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col-xs-6.col-md-3
        img.lazyload(width="838" height="575" alt="" data-src="/img/tourism-exploration-discovery/new_68.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
